h1 {
  margin: 0;
  margin-bottom: 1rem;
}

.inputFields {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.formContainer {
  position: relative;
  display: grid;
  width: 90%;
  grid-template-columns: 1fr 1fr;
}

.photoContainer {
  position: fixed;
  left: 60%;
  top: 19.5%;
  display: flex;
  width: 29%;
  aspect-ratio: 1/1;
  align-self: center;
  justify-self: center;
  display: flex;
  flex-direction: column;
  border: 1px solid #b22222;
  border-radius: 0 0 4px 4px;
}

.notesContainer {
  position: fixed;
  top: 70%;
  left: 60%;
  width: 50%;
}

.modalContent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

.expiryPicker {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.2rem;
}

.messageContainer{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}