h1 {
  margin: 0;
  margin-bottom: 1rem;
}

.inputFields {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.formContainer {
  display: flex;
  flex-direction: row;
  width: 90%;
  position: relative;
}

.left,
.right {
  min-width: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.photoContainer {
  position: relative;
  display: flex;
  width: 70%;
  /* height: 50%; */
  align-self: center;
  justify-self: center;
  display: flex;
  flex-direction: column;
  border: 1px solid #b22222;
  border-radius: 0 0 4px 4px;
  transform: rotate(-90deg);
}

.smallFields {
  position: relative;
  display: flex;
  gap: 0.5rem;
  width: 100%;
}

.modalContent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

.expiryPicker {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.2rem;
}

.messageContainer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  transform: rotate(90deg);
}

.actionButton {
  position: absolute;
  transform: rotate(90deg);
  top: 3.8rem;
  left: -3.8rem;
}

.submitButtons{
  display: flex;
  gap: 2rem;
}