.coupleContainer {
  position: absolute;
  top: 80%;
  left: 60%;
}

.inputContainer {
  display: flex;
}

.partnerBox {
  position: relative;
  box-sizing: border-box;
  width: 3.5rem;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid firebrick;
  user-select: none;
  font-weight: 800;
}

.partnerBox::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 0;
  height: 100%;
  background: firebrick;
  opacity: 0.2;
  transition: 0.2s;
}

.clickable:hover::before {
  width: 3.5rem;
}

.partnersContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  width: 30%;
}

.partnerContent {
  z-index: 3;
}

.clickable {
  cursor: pointer;
}

.profileContent {
  display: flex;
  flex-direction: row;
}

.left,
.right {
  min-width: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.right {
  align-items: center;
}

.actionButtons {
  display: flex;
  float: right;
  gap: 1rem;
}

.profileTitle {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.profileAnnotation {
  padding: 0.5rem;
  border-radius: 20px;
  border: 2px solid firebrick;
  display: flex;
  align-items: center;
  justify-content: center;
}

.member{
  border-color: #29B6F6 ;
}

.photoContainer {
  display: flex;
  width: 50%;
  aspect-ratio: 1/1;
  align-self: center;
  justify-self: center;
  display: flex;
  flex-direction: column;
  border: 1px solid #b22222;
  border-radius: 0 0 4px 4px;
  transform: rotate(-90deg);
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.removePartnerBtn {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 1rem;
}

.photoMessage {
  transform: rotate(90deg);
}
