table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  color: white;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #2e2f3a;
}

tr:nth-child(odd) {
  background-color: #2b2c34;
}

tr.banned {
  background: firebrick;
}

tr.banned:hover {
  background: rgb(125, 22, 22);
}
