@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

:root {
  /* --buttonsHeight: calc(50rem - 10rem); */
  --buttonsHeight: 70vh;
  overflow: hidden;
}

.pageTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 2rem;
  pointer-events: none;
  user-select: none;
  font-size: 5rem;
  margin-top: 5rem;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

.buttons {
  display: flex;
  position: absolute;
  flex-direction: row;
  width: 112%;
  left: -6%;
  top: 15rem;
  background-color: #333;
}

.primaryButton {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  height: var(--buttonsHeight);
  background-color: #333;
  transition: 0.2s;
  transform: skew(20deg);
  z-index: 1;
  border: solid firebrick;
  border-width: 0px 2px 0px 2px;
}

.primaryButton::after {
  border: none;
  content: "";
  opacity: 0.5;
  display: block;
  background: #242424;
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: calc(100% - 4px);
  transition: 0.2s;
}

.primaryButton:nth-child(odd) {
  border: none;
}

.primaryButton:hover::after {
  height: var(--buttonsHeight);
}

.primaryButton:active {
  background-color: firebrick;
}

.buttonContent {
  transform: skew(-20deg);
  z-index: 2;
  font-size: 1.2rem;
  max-width: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.logo {
  height: 7rem;
}

.secondaryButtons {
  position: absolute;
  top: 2rem;
  left: 0;
  display: flex;
}

.secondaryButton {
  background: #333;
  margin: 2rem;
  transition: 0.2s;
  border-radius: 4px;
}

.secondaryButton:hover {
  background: firebrick;
}

.modalBox {
  position: "absolute";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400;
  background-color: #121212;
  border: 2px solid #000;
  box-shadow: 24;
}
